
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: white; /* Background color */
  }
  
  
  .container {
    display: flex;
    align-items: center;
    height: 100vh;
    
   
  }
  

  
  .card {
    width: 550px;
    height: 670px;
    padding: 20px;
    border-radius: 45px;
     /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);  */
    
    text-align: center;
    
    margin-right: 60px;
     border: 2px  solid rgba(255, 255, 255, 2); 
    /* backdrop-filter: blur(15px); */
    text-align: center;
    border-radius: 10px;

  }
  
  
  .form input {
    width: 75%;
    height: 70px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 20px;
    background: none;
    outline: none;
    color: white;

  }
  
  
  .forgot-password {
    display: block;
    margin-right:45%;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #999;
    text-decoration: none;
    padding-top: 10px;
    font-size: 20px;
  }
  
  .login-button {
    width: 75%;
    height: 70px;
    padding: 10px 20px;
    outline: none;
    background-color: #3897f0; /* Instagram blue color3897f0 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
    transition: .5s;
    &:hover{
      background: #64afe5;
      box-shadow: 0 0 5px #64afe5, 0 0 25px 
      #64afe5,0 0 50px #64afe5, 0 0 200px #64afe5;
      transform: scale(1.02);
    }
    
  }
  
  .facebook-button {
  
    width: 75%;
    height: 70px;
    padding: 10px;
    background-color: #3b5998; /* Facebook blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 22px;
    transition: .5s;
    &:hover{
      
      transform: scale(1.02);
    }
  }
  
  .gmail-button {
    width: 75%;
    height: 70px;
    padding: 12px;
    background-color: #db4437; /* Gmail red color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    transition: .5s;
    &:hover{
      
      transform: scale(1.02);
    }
  }
  
  .or-divider {
    
    position: relative;
    width: 400px;
    margin-left: 72px;
  
    
    
    
  }
  
  .or-text {
    display: inline-block;
    padding: 5px 10px;
    background-color: #7F7FD5 + #91EAE4;
    position: relative;
    z-index: 1;
    color: #999;
  }
  
  .or-divider::before,
  .or-divider::after {
    content: "";
    display: block;
    border-top: 0.25px solid #ccc;
    position: absolute;
    top: 50%;
    width: 44%;
  
  }
  
  .or-divider::before {
    left: 0;
  }
  
  .or-divider::after {
    right: 0;
  }
  
  .signup {
    margin-top: 25px;
    color: white;
    font-size: 20px;
    
  }
  
  .signup-link {
    color: #3897f0; /* Instagram blue color */
    text-decoration: none;
  }
  
  
  .app-caption{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color:#ccc
  }
  
  .heading-app{
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    background-position: 0px 0px;
    background-size: 176px 264px;
    width: 180px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    text-shadow: 0 0 20px #00fffb,0 0 40px #0081bc;
   
  
  
  }

  .background{
    background-image: url("C:\Users\Saikiran\OneDrive\Desktop\login-background.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
  }
    /* .cloud{
    position: absolute;
    top: -11px;
    right: 10%;
    opacity: 0.5;
    width: 200px;
    animation: wind 100s linear infinite;
    margin-left: 100px;
    
  } 
  .cloud:nth-child(2){
    animation-duration: 130s;
    right:-300px;
    top: 8%;
  }

  .cloud:nth-child(3){
    animation-duration: 150s;
    right: -900px;
    top: -5%;
  }

  .cloud:nth-child(4){
    animation-duration: 170s;
    right: -1200px;
    top: -15%;
  }
  
  @keyframes wind{
    100%{
      right: 100%;
    }
  }

  .cloud{
    position: relative;
    top: 50px;
    width: 300px;
    height: 100px;
    background-color: #fff;
    border-radius: 100px;
  }
  .cloud::before{
    content: '';
    position: absolute;
    top: -50px;
    left: 50px;
    width: 110px;
    height: 110px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px #fff;

  }
  .cloud::after{
    content: '';
    position: absolute;
    top: -70px;
    right: 10px;
    width: 100px;
    height: 110px;
    background: #fff;
    border-radius: 40%;
    box-shadow: 90px 0 0 30px #fff;

  }  */